<div class="container">
    <div class="row">
        <button ng-click="open()" type="button" class="btn btn btn-primary">
            Teste Modal Confirmação
        </button>
        <script type="text/ng-template" id="modalConfirmacao.html">
            <div class="modal-header">
                <h3 align="center" class="modal-title">Confirmação:</h3>
            </div>
            <div align="center" class="modal-body">
                Deseja Remover?
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" ng-click="">Sim</button>
                <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
            </div>
        </script>
        <div id="legend">
            <legend>
                <h2>
                    Agenda<a class="btn btn-success pull-right" href="#/compromissos/novo">
                    Novo Compromisso</a>
                </h2>
            </legend>
        </div>
        <div ng-controller="AgendaController">
            <button class="btn btn-primary" ng-click="changeView('year')">
                Ano
            </button>
            <button class="btn btn-primary" ng-click="changeView('month')">
                Mes
            </button>
            <button class="btn btn-primary" ng-click="changeView('day')">
                Dia
            </button>
            <br>
            <br>
            <mwl-calendar
                    calendar-events="events"
                    calendar-view="calendarView"
                    calendar-current-day="calendarDay"
                    calendar-control="calendarControl"
                    calendar-event-click="eventClicked($event)"
                    calendar-edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
                    calendar-delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                    calendar-edit-event-click="eventEdited($event)"
                    calendar-delete-event-click="eventDeleted($event)"
                    calendar-auto-open="true"
                    ></mwl-calendar>
        </div>
    </div>
</div>