<div class="container">
    <div class="row">
        <div id="legend">
            <legend>
                <h2>
                    Agenda<a class="btn btn-success pull-right" href="#/compromissos/novo">
                    Novo Compromisso</a>
                </h2>
            </legend>
        </div>
        <div ng-controller="AgendaController">
            <button ng-click="changeView('year')">
                Year
            </button>
            <mwl-calendar
                    calendar-events="events"
                    calendar-view="calendarView"
                    calendar-current-day="calendarDay"
                    calendar-control="calendarControl"
                    calendar-event-click="eventClicked($event)"
                    calendar-edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
                    calendar-delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                    calendar-edit-event-click="eventEdited($event)"
                    calendar-delete-event-click="eventDeleted($event)"
                    calendar-auto-open="true"
                    ></mwl-calendar>
        </div>
    </div>
</div>