<div class="container">
    <div class="row">
        <fieldset>
            <div id="legend">
                <legend>
                    <h2>
                        Novo Compromisso
                    </h2>
                </legend>
            </div>
            <form ng-init="init()" class="form-horizontal" ng-submit="save()">
                <div class="form-group">

                    <div class="col-lg-6 well">
                        <h3 align="center">Data de Início</h3>
                        <!--Input do Data Início-->
                            <div align="center" ng-controller="DataInicioController">
                                <div ng-class="">
                                    <div ng-class="{'has-error': !compromisso.dataInicio}">
                                        <div class="input-group">
                                            <input autofocus placeholder="Escolha a data de início do compromisso" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="compromisso.dataInicio" is-open="opened" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <pre class="alert alert-info">Data inicial: <b>{{compromisso.dataInicio | date:'fullDate' }}</b></pre>
                            </div>

                        <!--Input do Hora Início-->
                        <h4 align="center">Hora</h4>
                        <div align="center" ng-controller="HoraInicioController">
                            <div ng-class="{'has-error': !compromisso.horaInicio}">
                                <timepicker ng-model="compromisso.horaInicio" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                            </div>
                            <pre class="alert alert-info">Início: <b>{{compromisso.horaInicio | date:'shortTime' }}</b></pre>
                        </div>
                        <hr>
                    </div>

                    <div class="col-lg-6 well">
                        <h3 align="center">Data Final</h3>
                        <!--Input do Data Fim-->
                        <div align="center" ng-controller="DataFimController">
                            <div ng-class="">
                                <div ng-class="{'has-error': !compromisso.dataFim}">
                                <div class="input-group">
                                    <input placeholder="Escolha a data final do compromisso" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="compromisso.dataFim" is-open="opened" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                                </div>
                            <pre class="alert alert-info">Data final : <b>{{compromisso.dataFim | date:'fullDate' }}</b></pre>
                        </div>

                        <!--Input do Hora Fim-->
                        <h4 align="center">Hora</h4>
                        <div align="center" ng-controller="HoraFimController">
                            <div ng-class="{'has-error': !compromisso.horaFim}">
                            <timepicker ng-model="compromisso.horaFim" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                                <pre class="alert alert-info">Fim: <b>{{compromisso.horaFim | date:'shortTime' }}</b></pre>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <!--Input Status-->
                    <div class="col-lg-2">
                        <label class="control-label">Status</label>
                        <div ng-class="{'has-error': !compromisso.status}">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-bullhorn"></i></span>
                                <select ng-model="compromisso.status" class="form-control">
                                    <option selected value="">Selecione</option>
                                    <option value="OCUPADO">Ocupado</option>
                                    <option value="LIVRE">Livre</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!--Input do Título-->
                    <div class="col-lg-5">
                        <label class="control-label" for="titulo">Título</label>
                        <div ng-class="{'has-error': !compromisso.titulo}">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-thumb-tack"></i></span>
                                <input placeholder="Insira o título compromisso" maxlength="100" class="form-control" type="text" ng-model="compromisso.titulo" id="titulo" required/>
                            </div>
                        </div>
                    </div>

                    <!--Input do Descrição-->
                    <div class="col-lg-5">
                        <label class="control-label" for="descricao">Descrição</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-pencil-square-o"></i></span>
                                <input placeholder="Insira a descrição" maxlength="100" class="form-control" type="text" ng-model="compromisso.descricao" id="descricao"/>
                            </div>
                    </div>

                    <!--Input do Observações-->
                    <div class="col-lg-7">
                        <label class="control-label" for="observacoes">Observações</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-paperclip"></i></span>
                            <input placeholder="Insira as observações" maxlength="100" class="form-control" type="text" ng-model="compromisso.observacoes" id="observacoes"/>
                        </div>
                    </div>

                    <!--Input do Local-->
                    <div class="col-lg-5">
                        <label class="control-label" for="local">Local</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-street-view"></i></span>
                            <input placeholder="Insira o local" maxlength="100" class="form-control" type="text" ng-model="compromisso.local" id="local"/>
                        </div>
                    </div>

                    <!--Input do Contatos-->
                    <div class="col-lg-4">
                        <label class="control-label" for="contato">Contatos</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users"></i></span>
                            <input placeholder="Adicione contatos" maxlength="100" class="form-control" type="text" ng-model="compromisso.contato" id="contato"/>
                        </div>
                    </div>

                    <!--Input do Tipo-->
                    <div class="col-lg-4">
                        <label class="control-label" for="tipo">Tipo do Compromisso</label>
                        <div ng-class="{'has-error': !compromisso.tipo}">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-bookmark-o"></i></span>
                                <select ng-model="compromisso.tipo" class="form-control" ng-options="tipo.nome for tipo in tipos" id="tipo">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!--Input do Categoria-->
                    <div class="col-lg-4">
                        <label class="control-label" for="categoria">Categoria de Compromisso</label>
                        <div ng-class="{'has-error': !compromisso.categoria}">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-bookmark"></i></span>
                                <select ng-model="compromisso.categoria" class="form-control" ng-options="categoria.nome for categoria in categorias" id="categoria">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!--Botões-->
                    <div class="col-lg-8">
                        <div class="control-group">
                            <br>
                            <button id="save" class="btn btn-success" type="submit" ng-disabled="!compromisso.titulo || !compromisso.tipo || !compromisso.categoria || !compromisso.dataInicio || !compromisso.dataFim || !compromisso.horaInicio || !compromisso.horaFim || !compromisso.status">
                                Salvar
                            </button>
                            <button type="reset" id="cancel" class="btn btn-default" ng-click="cancel()">
                                Voltar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
</div>