 <div class="row">
        <legend>
            <h2>
                <i class="fa fa-clock-o"></i> Novo Compromisso
            </h2>
        </legend>
        <form ng-init="init()" class="form-horizontal" ng-submit="save()">
            <div class="form-group">
                    <div class="col-lg-6 well well-sm">
                        <h3 align="center">Início</h3>
                        <!--Input do Data Início-->
                        <div align="center" ng-controller="DataInicioController">
                            <label class="control-label">Data</label>
                            <div ng-class="{'has-error': !compromisso.dataInicio}">
                                <div class="input-group">
                                    <input disabled autofocus placeholder="Escolha a data inicial do compromisso" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="compromisso.dataInicio" is-open="opened" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                </div>
                            </div>
                            <div align="" ng-controller="HoraInicioController">
                                <label class="control-label">Hora</label>
                                <div ng-class="{'has-error': !compromisso.horaInicio}">
                                    <timepicker ng-model="compromisso.horaInicio" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <pre class="alert alert-success">Data: <b>{{compromisso.dataInicio | date:'fullDate' }}</b></pre>
                        </div>
                        <div class="col-lg-4">
                            <pre class="alert alert-success">Hora: <b>{{compromisso.horaInicio | date:'shortTime' }}</b></pre>
                        </div>
                    </div>
                    <div class="col-lg-6 well well-sm">
                        <h3 align="center">Final</h3>
                        <!--Input do Data Fim-->
                        <div align="center" ng-controller="DataFimController">
                            <label class="control-label">Data</label>
                            <div ng-class="{'has-error': !compromisso.dataFim}">
                                <div class="input-group">
                                    <input disabled placeholder="Escolha a data final do compromisso" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="compromisso.dataFim" is-open="opened" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                                </div>
                            </div>
                            <div align="center" ng-controller="HoraFimController">
                                <label class="control-label">Hora</label>
                                <div ng-class="{'has-error': !compromisso.horaFim}">
                                    <timepicker ng-model="compromisso.horaFim" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-8">
                            <pre class="alert alert-info">Data: <b>{{compromisso.dataFim | date:'fullDate' }}</b></pre>
                        </div>
                        <div class="col-lg-4">
                            <pre class="alert alert-info">Hora: <b>{{compromisso.horaFim | date:'shortTime' }}</b></pre>
                        </div>
                    </div>
                </div>

                <!--Input Status-->
                <div class="col-lg-2">
                    <label class="control-label">Status</label>
                    <div ng-class="{'has-error': !compromisso.status}">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-bullhorn"></i></span>
                            <select ng-model="compromisso.status" class="form-control">
                                <option selected value="">Selecione</option>
                                <option value="OCUPADO">Ocupado</option>
                                <option value="LIVRE">Livre</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!--Input do Título-->
                <div class="col-lg-6">
                    <label class="control-label" for="titulo">Título</label>
                    <div ng-class="{'has-error': !compromisso.titulo}">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-thumb-tack"></i></span>
                            <input placeholder="Insira o título compromisso" maxlength="100" class="form-control" type="text" ng-model="compromisso.titulo" id="titulo" required/>
                        </div>
                    </div>
                </div>

                <!--Input do Descrição-->
                <div class="col-lg-4">
                    <label class="control-label" for="descricao">Descrição</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-pencil-square-o"></i></span>
                        <input placeholder="Insira a descrição" maxlength="100" class="form-control" type="text" ng-model="compromisso.descricao" id="descricao"/>
                    </div>
                </div>

                <!--Input do Tipo-->
                <div class="col-lg-3">
                    <label class="control-label" for="tipo">Tipo</label>
                    <div ng-class="{'has-error': !compromisso.tipo}">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-tags"></i></span>
                            <select ng-model="compromisso.tipo" class="form-control" ng-options="tipo.nome for tipo in tipos" id="tipo">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!--Input do Categoria-->
                <div class="col-lg-3">
                    <label class="control-label" for="categoria">Categoria</label>
                    <div ng-class="{'has-error': !compromisso.categoria}">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-bookmark"></i></span>
                            <select ng-model="compromisso.categoria" class="form-control" ng-options="categoria.nome for categoria in categorias" id="categoria">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!--Input do Contato-->
                <div class="col-lg-3">
                    <label class="control-label">Contato</label>
                    <div ng-class="{'has-error': !compromisso.contato}">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <select ng-model="compromisso.contato" class="form-control" ng-options="contato.nome for contato in contatos">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!--Input do Local-->
                <div class="col-lg-3">
                    <label class="control-label" for="local">Local</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-street-view"></i></span>
                        <input placeholder="Insira o local" maxlength="100" class="form-control" type="text" ng-model="compromisso.local" id="local"/>
                    </div>
                </div>

                <!--Input do Observações-->
                <div class="col-lg-4">
                    <label class="control-label" for="observacoes">Observações</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-paperclip"></i></span>
                        <input placeholder="Insira as observações" maxlength="100" class="form-control" type="text" ng-model="compromisso.observacoes" id="observacoes"/>
                    </div>
                </div>

                <!--Input de Compartilhar-->
                <div class="col-lg-4">
                    <label class="control-label">Compartilhar</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-users"></i></span>
                        <select ng-model="usuarioSelecionado" class="form-control" ng-options="usuario.email for usuario in usuarios track by usuario.email">
                            <option value="">Selecione o usuário</option>
                        </select>
                        <span class="input-group-btn">
                            <button ng-click="adicionarUsuario(usuarioSelecionado)" type="button" class="btn btn-primary" ng-disabled="!usuarioSelecionado">
                              Adicionar
                            </button>
                        </span>
                    </div>
                </div>

                <!--Lista de Compartilhados-->
                <div class="col-lg-4">
                    <label class="control-label">Lista dos Usuários</label>
                    <div style="height:120px; overflow-y:scroll" class="panel panel-default">
                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="usuario in compromisso.usuarios">{{usuario.email}} <a class="btn btn-warning btn-xs pull-right" ng-click="removeUsuario(usuario)"><span class="fa fa-minus"></span></a></li>
                        </ul>
                    </div>
                </div>

                <!--Botões-->
                <div class="col-lg-12">
                    <div class="control-group">
                        <br>
                        <button id="save" class="btn btn-success" type="submit" ng-disabled="!compromisso.titulo || !compromisso.tipo || !compromisso.categoria || !compromisso.dataInicio || !compromisso.dataFim || !compromisso.horaInicio || !compromisso.horaFim || !compromisso.status || !compromisso.contato">
                            Salvar
                        </button>
                        <button type="reset" id="cancel" class="btn btn-default" ng-click="cancel()">
                            Voltar
                        </button>
                    </div>
                </div>
        </form>
 </div>