<div class="container">
    <div class="row">
        <h2>Ajuda</h2>
            <div class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a name="atalhos" data-toggle="tab">
                                <span class="glyphicon glyphicon-new-window"></span> Atalhos do Sistema
                            </a>
                        </li>
                        <li>
                            <a name="guia" data-toggle="tab">
                                <span class="glyphicon glyphicon-book"></span> Guia do Usuário
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="atalhos">
                            <br>
                            <p>
                                <b>Teclas de atalhos do sistema:</b>
                            </p>
                            <ul>
                                <li>  Tecla F1 - Novo Compromisso
                                <li>  Tecla F2 - Novo Tipo de Compromisso
                                <li>  Tecla F3 - Nova Categoria de Compromisso
                                <li>  Tecla F4 - Novo Contato
                                <li>  Tecla F7 - Novo Usuário
                            </ul>
                        </div>
                        <div class="tab-pane" id="guia">
                            <br>
                            <p>
                                <b>Guia v1.0</b>
                            </p>
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>