<div class="container">
    <div class="row">
        <h2>Ajuda</h2>
            <div class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a name="atalhos" data-toggle="tab">
                                <span class="glyphicon glyphicon-new-window"></span>  Atalhos do Sistema
                            </a>
                        </li>
                        <li>
                            <a name="requisitos" data-toggle="tab">
                                <span class="glyphicon glyphicon-book"></span>  Requisitos do Sistema
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="atalhos">
                            <br>
                            <p>
                                <b>Teclas de atalhos do sistema:</b>
                            </p>
                            <ul>
                                <li>  Tecla F1 - Novo Compromisso
                                <li>  Tecla F2 - Novo Tipo de Compromisso
                                <li>  Tecla F3 - Nova Categoria de Compromisso
                                <li>  Tecla F4 - Novo Contato
                                <li>  Tecla F7 - Novo Usuário
                            </ul>
                        </div>

                        <div class="tab-pane" id="requisitos">
                            <br>
                            <p>
                                <b>Ferramentas utilizadas:</b>
                            </p>
                            <ul>
                                <li>  Mysql
                                <li>  Java8
                                <li>  Play Framework
                            </ul>
                            <p><b>Testado nos navegadores:</b></p>
                            <ul>
                                <li> Firefox
                                <li> Chrome
                            </ul>
                            <p><b>Desenvolvido na IDE</b></p>
                            <ul>
                                <li> IntelliJ IDEA
                            </ul>
                        </div>
                </div>
            </div>
    </div>
</div>