<div class="container">
    <div class="row">
        <h2>Ajuda</h2>
            <div class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a name="atalhos" data-toggle="tab">
                                <span class="glyphicon glyphicon-new-window"></span> Atalhos do Sistema
                            </a>
                        </li>
                        <li>
                            <a name="dicionario" data-toggle="tab">
                                <span class="glyphicon glyphicon-tags"></span> Dicionário de Erros
                            </a>
                        </li>
                        <li>
                            <a name="tab_default_3" data-toggle="tab">
                                <span class="glyphicon glyphicon-book"></span> Manual do Sistema
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="atalhos">
                            <p>
                                <b>Atalhos</b>
                            </p>
                            <ul>
                                <li>  Tecla F1
                                <li>  Tecla F2
                                <li>  Tecla F3
                                <li>  Tecla F4
                                <li>  Tecla F7
                            </ul>
                        </div>
                        <div class="tab-pane" id="dicionario">
                            <p>
                                <b>Dicionário de Erros</b>
                            </p>
                            <p>
                                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                            </p>
                        </div>
                        <div class="tab-pane" id="tab_default_3">
                            <p>
                                <b>Manual v1.0</b>
                            </p>
                            <p>
                                Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>