<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
    <div align="center" class="jumbotron">
        <h1>Início</h1>
        <p>Gerenciador de Compromissos</p>
        <button data-animation="am-flip-x" type="button" data-trigger="focus" class="btn btn-lg btn-primary" data-template="assets/popover/popoverHome.html" bs-popover="popoverInformacoes">
            Mais Informações
        </button>
    </div>
<hr>
<!--Rodapé-->
<div align="center">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-7">

                </div>
            </div>
            <p>&copy; 2015 Gerenciador de Compromissos -
                <a data-template="assets/modal/informacoesModal.html" bs-modal="modalInformacoes">Powered by Play Framework e AngularJS
                </a>.Todos os direitos reservados.
            </p>
        </div>
    </footer>
</div>
</body>
</html>