<div class="jumbotron">
    <h1>
        <i class="fa fa-book"></i>
    </h1>
    <p>Gerenciador de Compromissos</p>
    <button ng-click="open()" type="button" class="btn btn-lg btn-primary">
        Mais Informações
    </button>
    <hr>
    <h4>Virtual Keyboard</h4>
    <div>
        <input placeholder="click here" type='text' ng-model="t02" ng-virtual-keyboard/><br>
        <!--<em>(Model value: {{t02}})</em>-->

    <script type="text/ng-template" id="modalHome.html">
        <div class="modal-header">
            <h3 class="modal-title">Informações:</h3>
        </div>
        <div class="modal-body">
            <div align="center">
                <h4>Sistema Gerenciador de Compromissos</h4>
                <p><b>Centro Universitário Dinâmica das Cataratas</b>
                <p>Curso: <b>Sistemas de Informação</b>
                <p>Disciplina: <b>Engenharia de Software</b>
                <p>Professora: <b>Judith Pavon</b>
                <p>&copy; 2015</p>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>
</div>
