<div class="container">
    <div class="row">
        <fieldset>
            <div id="legend">
                <legend>
                    <h2>
                        <i class="fa fa-file"></i> Log <small>do Sistema</small><a class="btn btn-success pull-right" href="#/">
                        Voltar</a>
                    </h2>
                </legend>
            </div>

            <!--Tabela-->
            <table ng-init="init()" class="table-striped table table-hover table-bordered">
                <br>
                <tr>
                    <th>Data</th>
                    <th>Mensagem</th>
                </tr>
                <tr ng-repeat="log in logs">
                    <td>{{log.dataDoLog}}</td>
                    <td>{{log.mensagem}}</td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>