<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Cadastrar Contato</title>
</head>
<body>
<div class="container">
    <div class="row">
        <fieldset>
            <div id="legend">
                <legend>
                    <h2>
                        Novo Contato
                    </h2>
                </legend>
            </div>
            <form class="form-horizontal" ng-submit="save()">
                <div class="form-group">
                    <!--Input do Nome-->
                    <div class="col-lg-5">
                        <label class="control-label" for="nome">Nome</label>
                        <div ng-class="{'has-error': !contato.nome}">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user-plus"></i></span>
                                <input autofocus placeholder="Insira o nome do contato" maxlength="100" class="form-control" type="text" ng-model="contato.nome" id="nome" required/>
                            </div>
                        </div>
                    </div>

                    <!--Botões-->
                    <div class="col-lg-8">
                        <div class="control-group">
                            <br>
                            <button id="save" class="btn btn-success" type="submit" ng-disabled="!contato.nome">
                                Salvar
                            </button>
                            <button type="reset" id="cancel" class="btn btn-default" ng-click="cancel()">
                                Voltar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
</div>
<hr>
<!--Rodapé-->
<div align="center">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-7">

                </div>
            </div>
            <p>&copy; 2015 Gerenciador de Compromissos -
                <a data-template="assets/modal/informacoesModal.html" bs-modal="modalInformacoes">Powered by Play Framework e AngularJS
                </a>.Todos os direitos reservados.
            </p>
        </div>
    </footer>
</div>
</body>
</html>