<div class="row">
    <legend>
        <h2 class="font-style">
            <i class="fa fa-user"></i> Lista de Contatos<a class="btn btn-success pull-right" href="#/contatos/novo">
            Novo Contato (F4)</a>
        </h2>
    </legend>

    <!--Input de Busca-->
    <div class="col-lg-5 input-group">
        <input ng-model="nomeFiltro" autofocus type="search" class="form-control" placeholder="digite o nome ou email do contato">
            <span class="input-group-btn">
                <button ng-disabled="!nomeFiltro" class="btn btn-primary" ng-click="busca();">Buscar</button>
                <button class="btn btn-default" ng-click="init();">Limpar</button>
            </span>
    </div>
    <br>

    <!--Tabela-->
    <table ng-init="init()" class="table-striped table table-hover table-bordered">
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
        </tr>
        <tr ng-repeat="contato in contatos">
            <td><b><a href="#/contatos/detalhe/{{contato.id}}">{{contato.nome}}</a></b></td>
            <td>{{contato.email}}</td>
            <td>{{contato.telefone}}</td>
        </tr>
    </table>
</div>