<div class="row">
    <legend>
        <h2>
            <i class="fa fa-tags"></i> Novo Tipo <small>de Compromisso</small>
        </h2>
    </legend>
    <form class="form-horizontal" ng-submit="save()">
        <div class="form-group">
            <!--Input do Nome-->
            <div class="col-lg-5">
                <label class="control-label" for="nome">Nome</label>
                <div ng-class="{'has-error': !tipo.nome}">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-tags"></i></span>
                        <input autofocus placeholder="Insira o tipo" maxlength="100" class="form-control" type="text" ng-model="tipo.nome" id="nome" required/>
                    </div>
                </div>
            </div>

            <!--Botões-->
            <div class="col-lg-8">
                <div class="control-group">
                    <br>
                    <button id="save" class="btn btn-success" type="submit" ng-disabled="!tipo.nome">
                        Salvar
                    </button>
                    <button type="reset" id="cancel" class="btn btn-default" ng-click="cancel()">
                        Voltar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>