<div class="container">
    <div class="row">
        <fieldset>
            <div id="legend">
                <legend>
                    <h2>
                        <i class="fa fa-tags"></i> Lista de Tipos <small>de Compromisso</small><a class="btn btn-success pull-right" href="#/tipos/novo">
                        Novo Tipo de Compromisso</a>
                    </h2>
                </legend>
            </div>

            <!--Input de Busca-->
            <div class="col-lg-5">
                <div class="input-group">
                    <input autofocus type="search" class="form-control" placeholder="digite o nome do tipo de compromisso">
                         <span class="input-group-btn">
                              <button class="btn btn-primary">
                                  Buscar
                              </button>
                        </span>
                </div>
                <br>
            </div>

            <!--Tabela-->
            <table ng-init="init()" class="table-striped table table-hover table-bordered">
                <br>
                <tr>
                    <th>Nome</th>
                    <!--<th></th>-->
                </tr>
                <tr ng-repeat="tipo in tipos">
                    <td><b><a href="#/tipos/detalhe/{{tipo.id}}">{{tipo.nome}}</a></b></td>
                    <!--<td>-->
                    <!--<a href="" confirmation-needed="Confirmar a exclusão?" class="glyphicon glyphicon-trash" ng-click="delete(pais.id)"></a>-->
                    <!--</td>-->
                </tr>
            </table>
        </fieldset>
    </div>
</div>