<div class="container">
    <div class="row">
            <fieldset>
                <div id="legend">
                    <legend>
                        <h2>
                            <i class="fa fa-bookmark"></i> Nova Categoria <small>de Compromisso</small>
                        </h2>
                    </legend>
                </div>
                <form class="form-horizontal" ng-submit="save()">
                    <div class="form-group">
                        <!--Input do Nome-->
                        <div class="col-lg-5">
                            <label class="control-label" for="nome">Nome</label>
                            <div ng-class="{'has-error': !categoria.nome}">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-bookmark"></i></span>
                                    <input autofocus placeholder="Insira o nome da Categoria" maxlength="100" class="form-control" type="text" ng-model="categoria.nome" id="nome" required/>
                                </div>
                            </div>
                        </div>

                        <!--Botões-->
                        <div class="col-lg-8">
                            <div class="control-group">
                                <br>
                                <button id="save" class="btn btn-success" type="submit" ng-disabled="!categoria.nome">
                                    Salvar
                                </button>
                                <button type="reset" id="cancel" class="btn btn-default" ng-click="cancel()">
                                    Voltar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </fieldset>
    </div>
</div>