@(eventoForm: Form[Evento])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(helpers.twitterBootstrapInput.render) }

@main("Novo Evento") {
<html>
<body>
<head>
    <title>Cadastrar Evento</title>
</head>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <fieldset>
                <div id="legend">
                    <legend>
                        <h3>
                            Cadastrar Evento <a href="/" class="btn btn-link pull-right">
                            <span class="glyphicon glyphicon-home"></span><b> Início</b></a>
                        </h3>
                    </legend>
                </div>
                @form(routes.EventoController.salvar()) {
                <form class="form-horizontal">
                    <div class="form-group">
                        <!--Input do Nome-->
                        <div class="col-lg-4">
                            @inputText(eventoForm("nome"), 'placeholder -> "Entre com o nome", '_label -> "Nome", 'class -> "form-control")
                        </div>
                        <!--Botões-->
                        <div class="col-lg-12">
                            <div class="control-group">
                                <br>
                                <input type="submit" value="Salvar" class="btn btn-success">
                                <a href="@routes.EventoController.lista()" class="btn btn-default">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </form>
                }
            </fieldset>
        </div>
    </div>
    <br>
</div>
</body>
</html>
}