@(eventos: List[Evento])
@main("Eventos"){
<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active">
                <a href="@routes.EventoController.novo()">Novo Evento</a>
            </li>
            <li class="active"><a href="/">Início</a></li>
        </ul>
        <h3 class="text-muted">Eventos</h3>
    </div>
    <table class="table table-striped table-bordered" id="example" cellpadding="0" cellspacing="0" border="0" width="100%">
        <tfoot>
        @for(evento <- eventos) {
        <tr>
            <th>
                <a href="@routes.EventoController.detalhar(evento.id)">
                    @evento.nome
                </a>
            </th>
        </tr>
        }
        </tfoot>
    </table>
</div>
}