@(categorias: List[Categoria])
@main("Categorias"){
<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active">
                <a href="@routes.CategoriaController.novo()">Nova Categoria</a>
            </li>
            <li class="active"><a href="/">Início</a></li>
        </ul>
        <h3 class="text-muted">Categorias</h3>
    </div>
    <table class="table table-striped table-bordered" id="example" cellpadding="0" cellspacing="0" border="0" width="100%">
        <tfoot>
        @for(categoria <- categorias) {
        <tr>
            <th>
                <a href="@routes.CategoriaController.detalhar(categoria.id)">
                    @categoria.nome
                </a>
            </th>
        </tr>
        }
        </tfoot>
    </table>
</div>
}