<div class="container">
    <div class="row">
        <fieldset>
            <div id="legend">
                <legend>
                    <h2>
                        <i class="fa fa-users"></i> Lista de Usuários do Sistema<a class="btn btn-success pull-right" href="#/usuarios/novo">
                        Novo Usuário (F7)</a>
                    </h2>
                </legend>
            </div>

            <!--Input de Busca-->
            <div class="col-lg-5">
                <div class="input-group">
                    <input autofocus type="search" class="form-control" placeholder="digite o login">
                         <span class="input-group-btn">
                              <button class="btn btn-primary">
                                  Buscar
                              </button>
                        </span>
                </div>
                <br>
            </div>

            <!--Tabela-->
            <table ng-init="init()" class="table-striped table table-hover table-bordered">
                <br>
                <tr>
                    <th>Email para Login</th>
                    <th>Privilégio</th>
                </tr>
                <tr ng-repeat="usuario in usuarios">
                    <td><b><a href="#/usuarios/detalhe/{{usuario.id}}">{{usuario.email}}</a></b></td>
                    <td>{{usuario.privilegio}}</td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>