<div class="popover">
    <div class="arrow"></div>
    <h3 align="center" class="popover-title" ng-bind="title"></h3>
    <div class="popover-content">
        <form name="popoverForm">
            <div align="center">
                <h4>Engenharia de Software</h4>
                <hr>
                Gerenciador de Compromissos<br/>
                <br>
                Professora: Judith Pavon<br/>
                <br>
                <b>Versão 0.0.1</b>
                <hr>
            </div>
            <div align="center" class="form-actions">
                <button type="button" class="btn btn-primary" ng-click="$hide()">Ok</button>
                <!--<button type="button" class="btn btn-primary" ng-click="popover.saved=true;$hide()">Save changes</button>-->
            </div>
        </form>
    </div>
</div>