<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" ng-click="$hide()">&times;</button>-->
                <h3 class="modal-title">Informações Adicionais</h3>
            </div>
            <div class="modal-body">
                <section>
                    <h4>Dependências:</h4>
                    <p>1. Bootstrap</p>
                    <p>2. Angular Strap</p>
                    <p>3. Angular Animate</p>
                    <p>4. Angular Toastr</p>
                    <p>5. Angular Input Masks</p>
                    <p>6. Play Framework</p>
                    <p>7. Angular JS</p>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="$hide()"><b>Fechar</b></button>
            </div>
        </div>
    </div>
</div>