<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <!--CSS Personalisados-->
    <link rel="stylesheet" href="assets/stylesheets/background.css"/>

    <!--Jquery-->
    <script src="assets/bower_components/jquery/dist/jquery.js"></script>

    <script src="assets/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <title></title>
</head>
<body>
<div>

</div>
usuario autenticado!
</body>
</html>