@(username: String)
<!DOCTYPE html>
<html ng-app="agenda">
<head>
    <!--Toastr-->
    <link rel="stylesheet" type="text/css" href="assets/bower_components/angular-toastr/dist/angular-toastr.css"/>

    <!--Bootstrap-->
    <link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.css"/>

    <!--Calendar-->
    <link rel="stylesheet" href="assets/bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.css">

    <!--Awesome Icons-->
    <link rel="stylesheet" href="assets/stylesheets/awesome/css/font-awesome.css"/>

    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Agenda</title>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a data-match-route href="#/" class="navbar-brand">
                <i class="fa fa-book"></i> Início
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @if(username){
                <li><a href="/#/agenda"><span class="fa fa-calendar-o"></span> Agenda</a></li>
                    <li><a href="/#/compromissos"> <span class="fa fa-clock-o"></span> Compromissos</a></li>
                    <li><a href="/#/tipos"> <span class="fa fa-tags"></span> Tipos</a></li>
                    <li><a href="/#/categorias"> <span class="fa fa-bookmark"></span> Categorias</a></li>
                    <li><a href="/#/contatos"> <span class="fa fa-user"></span> Contatos</a></li>
                    <li><a href="/#/usuarios"> <span class="fa fa-users"></span> Usuários</a></li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="label label-success">@username</span>   <span class="fa fa-cog"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Sistema</li>
                        <li><a href="/versaoplay">
                            <span class="fa fa-chevron-right"></span> Sobre</a>
                        </li>
                        <!--<li><a href="/#/ajuda">-->
                        <!--<span class="fa fa-question-circle"></span> Ajuda</a>-->
                        <!--</li>-->
                        <li class="divider"></li>
                        <li class="dropdown-header">Autenticação</li>
                        <li><a href="/login">
                            <span class="fa fa-sign-in"></span> Entrar</a>
                        </li>
                        @if(username){
                            <li><a href="/logout">
                                <span class="fa fa-sign-out"></span> Sair</a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="row">
        <div ng-view="">
        </div>
        <hr>
    </div>
</div>
<!--Rodapé-->
<div align="center">
    <footer class="footer">
        <div class="container">
            <p>&copy; 2015 Gerenciador de Compromissos -
                <b>Powered by Play Framework e AngularJS
                </b>.Todos os direitos reservados.
            </p>
        </div>
    </footer>
</div>

<!--Jquery-->
<script src="assets/bower_components/jquery/dist/jquery.js"></script>


<!--Bootstrap-->
<script src="assets/bower_components/bootstrap/dist/js/bootstrap.js"></script>

<!--AngularJS-->
<script src="assets/bower_components/angular/angular.js"></script>
<script src="assets/bower_components/angular-resource/angular-resource.js"></script>
<script src="assets/bower_components/angular-route/angular-route.js"></script>
<script src="assets/bower_components/angular-animate/angular-animate.js"></script>

<!--Mascaras Input-->
<script src="assets/bower_components/angular-input-masks/releases/masks.js"></script>
<script src="assets/bower_components/angular-ui-utils/ui-utils.js"></script>

<!--Toastr-->
<script src="assets/bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>

<!--Moment-->
<script src="assets/bower_components/moment/moment.js"></script>

<!--Locale Calendario-->
<script src="assets/bower_components/moment/locale/pt-br.js"></script>

<script src="assets/bower_components/angular-i18n/angular-locale_pt-br.js"></script>

<!--UI Boostrap-->
<script src="assets/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<!--Calendar-->
<script src="assets/bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar.js"></script>
<script src="assets/bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.js"></script>

<!--app-->
<script src="assets/app/app.js"></script>
<script src="assets/app/controllers/DataController.js"></script>

<!--Servicos-->
<script src="assets/app/services/EnderecoService.js"></script>
<script src="assets/app/services/baseUrl.js"></script>

<!--Controllers AngularJS-->
<script src="assets/app/controllers/DataInicioController.js"></script>
<script src="assets/app/controllers/DataFimController.js"></script>
<script src="assets/app/controllers/HoraInicioController.js"></script>
<script src="assets/app/controllers/HoraFimController.js"></script>
<script src="assets/app/controllers/HomeController.js"></script>
<script src="assets/app/controllers/AgendaController.js"></script>
<script src="assets/app/controllers/CategoriaController.js"></script>
<script src="assets/app/controllers/CompromissoController.js"></script>
<script src="assets/app/controllers/ContatoController.js"></script>
<script src="assets/app/controllers/TipoController.js"></script>
<script src="assets/app/controllers/UsuarioController.js"></script>
</body>
</html>