@main("Agenda") {

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">
                <i class="fa fa-calendar-o"></i> Agenda
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">
                    <span class="fa fa-home"></span> Início</a></li>
                <li><a href="/eventos"> <span class="fa fa-star-half-o"></span> Eventos</a></li>
                <li><a href="/usuarios"> <span class="fa fa-users"></span> Usuários</a></li>
                <li><a href="/tipos"> <span class="fa fa-bookmark-o"></span> Tipos</a></li>
                <li><a href="/categorias"> <span class="fa fa-bookmark"></span> Categorias</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="fa fa-cog"></span> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Sistema</li>
                        <li><a href="/sobre">
                            <span class="fa fa-chevron-right"></span> Sobre</a>
                        </li>
                        <li><a href="/ajuda">
                            <span class="fa fa-question-circle"></span> Ajuda</a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Autenticação</li>
                        <li><a href="/login">
                            <span class="fa fa-sign-in"></span> Entrar</a>
                        </li>
                        <li><a href="">
                            <span class="fa fa-sign-out"></span> Sair</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="jumbotron">
        <h1>Início</h1>
        <p>Agenda de Compromissos</p>
        <p><a class="" href="" role="button"></a></p>
        <a href="" class="btn btn-primary btn-lg"
           data-toggle="modal"
           data-target="#informacoesModal">Mais Informações</a>
    </div>
    <div class="modal fade" id="informacoesModal" tabindex="-1" role="dialog" aria-labelledby="informacoesModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Play Agenda</h4>
                </div>
                <div class="modal-body">
                    <h3>Play Agenda</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
}