@(usuarioForm:DynamicForm)
@import helper._
<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.css"/>

    <!--Awesome Icons-->
    <link rel="stylesheet" href="assets/stylesheets/awesome/css/font-awesome.css"/>

    <!--Jquery-->
    <script src="assets/bower_components/jquery/dist/jquery.js"></script>

    <script src="assets/bower_components/bootstrap/dist/js/bootstrap.js"></script>

</head>
<body>
<div class="container">
    <h3 align="center" class="text-muted">Gerenciador de Compromissos</h3>
    <hr>
    @if(usuarioForm.hasGlobalErrors) {
    <p class="alert alert-danger">
        @usuarioForm.globalError.message
    </p>
    }
    <div align="center">
        @form(routes.LoginController.autenticar()) {
        @inputText(usuarioForm("email"))
        @inputPassword(usuarioForm("senha"))
        <input class="btn btn-success" type="submit" value="Autenticar">
        <a href="/#/" class="btn btn-default"><span class="glyphicon glyphicon-home"></span>
            Início </a>
        }
    </div>
    <hr>
</div>
<!--Rodapé-->
<div align="center">
    <footer class="footer">
        <div class="container">
            <p>&copy; 2015 Gerenciador de Compromissos -
                <b>Powered by Play Framework e AngularJS
                </b>.Todos os direitos reservados.
            </p>
        </div>
    </footer>
</div>
</body>
</html>