<head>
    <meta charset="UTF-8">
    <title></title>

    <!--Jquery-->
    <script src="assets/bower_components/jquery/dist/jquery.js"></script>

    <link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <script src="assets/bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <!--CSS Personalisados-->
    <link rel="stylesheet" href="assets/stylesheets/background.css"/>
    <link rel="stylesheet" href="assets/stylesheets/login.css"/>

</head>
<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-wrap">
                    <h1>Gerenciador de Contatos</h1>
                    <h2 align="center">Login</h2>
                    <form role="form" action="javascript:;" method="" id="login-form" autocomplete="off">
                        <div class="form-group">
                            <label for="login" class="sr-only">Login</label>
                            <input type="text" name="login" class="form-control" placeholder="nome do usuário">
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">Senha</label>
                            <input type="password" name="key" id="key" class="form-control" placeholder="Senha">
                        </div>
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Autenticar">
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>
<div align="center" class="error-actions">
    <a href="/#/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
        Início </a>
</div>