@(title: String)(content: Html)

<html>
    <head>
        <title>Sistema Es</title>

        <!--jquery-->
        <script src="assets/bower_components/jquery/dist/jquery.js"></script>

        <!--Icone-->
        <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png">

        <!--Bootstrap-->
        <link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.css"/>
        <script src="assets/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    </head>
    <body>
        @content
    </body>
</html>
