@(username: String)
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <title>Manual Esplay - Sistema de Informação</title>
    <!-- Bootstrap CSS -->
    <link href="assets/css/style.css" rel="stylesheet"/>
    <!--Bootstrap-->
    <link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link href="assets/css/docs.css" rel="stylesheet"/>
    <link href="assets/css/prints.css" rel="stylesheet"/>
    <!--Awesome Icons-->
    <link rel="stylesheet" href="assets/stylesheets/awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="assets/stylesheets/stylemenu.css"/>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/manual">Manual Gerenciador de Compromissos</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#c1" class="hidden-md hidden-lg">1 Introdução</a></li>
                <li><a href="#c2" class="hidden-md hidden-lg">2 Sistema de Configuração Web</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle hidden-md hidden-lg" data-toggle="dropdown">
                    O Sistema<b class="caret"></b>
                </a>
                    <ul class="dropdown-menu">
                        <li><a href="#c3" class="hidden-md hidden-lg">3 O Sistema</a></li>
                        <li><a href="#c3-1" class="hidden-md hidden-lg">3.1 Login</a></li>
                        <li><a href="#c3-2" class="hidden-md hidden-lg">3.2 Logout</a></li>
                        <li><a href="#c3-3" class="hidden-md hidden-lg">3.3 Exibir Logs</a></li>
                        <li><a href="#c3-4" class="hidden-md hidden-lg">3.4 Agendar Compromisso</a></li>
                        <li><a href="#c3-5" class="hidden-md hidden-lg">3.5 Editar/Excluir Compromisso</a></li>
                        <li><a href="#c3-6" class="hidden-md hidden-lg">3.6 Criar Categoria de Compromisso</a></li>
                        <li><a href="#c3-7" class="hidden-md hidden-lg">3.7 Editar/Excluir Categoria de Compromisso</a></li>
                        <li><a href="#c3-8" class="hidden-md hidden-lg">3.8 Criar Tipo de Compromisso</a></li>
                        <li><a href="#c3-9" class="hidden-md hidden-lg">3.9 Editar/Excluir Tipo de Compromisso</a></li>
                        <li><a href="#c3-10" class="hidden-md hidden-lg">3.10 Criar Contato</a></li>
                        <li><a href="#c3-11" class="hidden-md hidden-lg">3.11 Editar/Excluir Contato</a></li>
                        <li><a href="#c3-12" class="hidden-md hidden-lg">3.12 Criar Usuário</a></li>
                        <li><a href="#c3-13" class="hidden-md hidden-lg">3.13 Editar/Excluir Usuário</a></li>
                    </ul></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/#/"><span class="label label-success">@username</span>  <span class="fa fa-home fa-lg"></span></a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<div class="container">
    <div class="col-md-3">
        <div class="bs-sidebar hidden-print" role="complementary">
            <ul class="nav bs-sidenav visible-md visible-lg">
                <li><a href="#c1">1 Introdução</a></li>
                <li><a href="#c2">2 Sistema Web</a></li>
                <li><a href="#c3">3 Detalhamento</a>
                    <ul class="nav">
                        <li><a href="#c3-1">3.1 Login</a></li>
                        <li><a href="#c3-2">3.2 Logout</a></li>
                        <li><a href="#c3-3">3.3 Exibir Logs</a></li>
                        <li><a href="#c3-4">3.4 Agendar Compromisso</a></li>
                        <li><a href="#c3-5">3.5 Editar/Excluir Compromisso</a></li>
                        <li><a href="#c3-6">3.6 Criar Categoria de Compromisso</a></li>
                        <li><a href="#c3-7">3.7 Editar/Excluir Categoria de Compromisso</a></li>
                        <li><a href="#c3-8">3.8 Criar Tipo de Compromisso</a></li>
                        <li><a href="#c3-9">3.9 Editar/Excluir Tipo de Compromisso</a></li>
                        <li><a href="#c3-10">3.10 Criar Contato</a></li>
                        <li><a href="#c3-11">3.11 Editar/Excluir Contato</a></li>
                        <li><a href="#c3-12">3.12 Criar Usuário</a></li>
                        <li><a href="#c3-13">3.13 Editar/Excluir Usuário</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--bs-sidebar-->
    <div class="col-md-9" role="main">
        <!--capa-->
        <article class="page col-md-9 firstpage visible-print"
                 style="border: solid 2px; width: 20cm; height: 27.5cm; margin-top: -1mm">

            <section>
                <h1>Engenharia de Software – Sistema Esplay</h1>
                <h2>
                    Projeto de Desenvolvimento de Software<br>(P&amp;D)
                </h2>
                <h2>
                    Sistema Gerenciar de Compromissos - <br />(ESPLAY)
                </h2>
                <table>
                    <tr>
                        <td colsspan="4" class="border">
                            <p>Sistemas de Informação</p>
                            <p>UDC - Centro Universitário Dinâmica das Cataratas</p>
                            <p>Professora Dra. Judith Pavón - Engenharia de Software</p>
                            <p>Haroldo Ramirez</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border">EG</td>
                        <td class="border">2015</td>
                        <td class="border">PLAY</td>
                    </tr>
                </table>
            </section>
            <footer></footer>
        </article>
        <!--INDICE-->
        <article class="page firstpage visible-print">
            <header class="hidden-screen">Engenharia de Software – Sistema Esplay</header>
            <section>
                <h1>ÍNDICE</h1>
                <table class="indice">
                    <tr>
                        <td class="ind1">1</td>
                        <td class="ind2">Introdução</td>
                        <td class="ind3">1</td>
                    </tr>
                    <tr>
                        <td class="ind1">2</td>
                        <td class="ind2">Sistema de Configuração Web</td>
                        <td class="ind3">1</td>
                    </tr>
                    <tr>
                        <td class="ind1">3</td>
                        <td class="ind2">O Sistema</td>
                        <td class="ind3">1</td>
                    </tr>
                    <tr>
                        <td class="ind1">3.1</td>
                        <td class="ind2">Login</td>
                        <td class="ind3">1</td>
                    </tr>
                    <tr>
                        <td class="ind1">3.2</td>
                        <td class="ind2">Logout</td>
                        <td class="ind3">1</td>
                    </tr>
                    <tr>
                        <td class="ind1">3.3</td>
                        <td class="ind2">Exibir Logs</td>
                        <td class="ind3">3</td>
                    </tr>
                    <tr>
                        <td class="ind1">3.4</td>
                        <td class="ind2">Agendar Compromisso</td>
                        <td class="ind3">4</td>
                    </tr>
                    <tr>
                        <td class="ind1">3.5</td>
                        <td class="ind2">Editar/Excluir Compromisso</td>
                        <td class="ind3">5</td>
                    </tr>
                    <tr>
                        <td class="ind1">3.6</td>
                        <td class="ind2">Criar Categoria de Compromisso</td>
                        <td class="ind3">5</td>
                    </tr>
                    <tr>
                        <td class="ind1">3.3</td>
                        <td class="ind2">Exibir Logs</td>
                        <td class="ind3">8</td>
                    </tr>
                    <tr>
                        <td class="ind1">3.8</td>
                        <td class="ind2">Criar Tipo de Compromisso</td>
                        <td class="ind3">9</td>
                    </tr>
                    <tr>
                        <td class="ind1">3.9</td>
                        <td class="ind2">Editar/Excluir Tipo de Compromisso</td>
                        <td class="ind3">16</td>
                    </tr>
                    <tr>
                        <td class="ind1">3.10</td>
                        <td class="ind2">Criar Contato</td>
                        <td class="ind3">21</td>
                    </tr>
                    <tr>
                        <td class="ind1">3.11</td>
                        <td class="ind2">Editar/Excluir Contato</td>
                        <td class="ind3">25</td>
                    </tr>
                </table>
            </section>
            <footer class="hidden-screen">
                <p>
                    <span class="pull-right">I</span>
                </p>
            </footer>
        </article>
        <!--INDICE DE ILUSTRAÕES-->
        <article class="page firstpage visible-print">
            <header class="hidden-screen">Engenharia de Software– Sistema Esplay</header>
            <section>
                <h1>Índice de ilustrações</h1>
                <table class="indice">
                    <tr>
                        <td class="ind1">Ilustração 1</td>
                        <td class="ind2">Tela de Login</td>
                        <td class="ind3">1</td>
                    </tr>
                    <tr>
                        <td class="ind1">Ilustração 2</td>
                        <td class="ind2">Tela de Logout</td>
                        <td class="ind3">2</td>
                    </tr>
                    <tr>
                        <td class="ind1">Ilustração 3</td>
                        <td class="ind2">Tela de Logs</td>
                        <td class="ind3">3</td>
                    </tr>
                    <tr>
                        <td class="ind1">Ilustração 4</td>
                        <td class="ind2">Tela de Agendar Compromisso</td>
                        <td class="ind3">4</td>
                    </tr>
                    <tr>
                        <td class="ind1">Ilustração 5</td>
                        <td class="ind2">Tela de Meus Compromissos</td>
                        <td class="ind3">4</td>
                    </tr>
                    <tr>
                        <td class="ind1">Ilustração 6</td>
                        <td class="ind2">Tela de Detalhe dos Compromissos</td>
                        <td class="ind3">5</td>
                    </tr>
                    <tr>
                        <td class="ind1">Ilustração 7</td>
                        <td class="ind2">Tela de Confirmação</td>
                        <td class="ind3">6</td>
                    </tr>
                    <tr>
                        <td class="ind1">Ilustração 8</td>
                        <td class="ind2">Tela de Cadastro de Categoria de Compromisso</td>
                        <td class="ind3">7</td>
                    </tr>
                    <tr>
                        <td class="ind1">Ilustração 9</td>
                        <td class="ind2">Tela de Lista de Categorias</td>
                        <td class="ind3">8</td>
                    </tr>
                    <tr>
                        <td class="ind1">Ilustração 10</td>
                        <td class="ind2">Tela de Detalhe de Categoria de Compromisso</td>
                        <td class="ind3">8</td>
                    </tr>
                    <tr>
                        <td class="ind1">Ilustração 11</td>
                        <td class="ind2">Tela de Confirmação</td>
                        <td class="ind3">9</td>
                    </tr>
                    <tr>
                        <td class="ind1">Ilustração 12</td>
                        <td class="ind2">Tela de Tipo de Compromisso</td>
                        <td class="ind3">10</td>
                    </tr>
                    <tr>
                        <td class="ind1">Ilustração 13</td>
                        <td class="ind2">Tela de Lista de Tipo</td>
                        <td class="ind3">11</td>
                    </tr>
                    <tr>
                        <td class="ind1">Ilustração 14</td>
                        <td class="ind2">Tela Detalhe de Compromisso</td>
                        <td class="ind3">12</td>
                    </tr>
                    <tr>
                        <td class="ind1">Ilustração 15</td>
                        <td class="ind2">Tela de Confirmação</td>
                        <td class="ind3">12</td>
                    </tr>
                    <tr>
                        <td class="ind1">Ilustração 16</td>
                        <td class="ind2">Tela de Criar Contatos</td>
                        <td class="ind3">13</td>
                    </tr>
                    <tr>
                        <td class="ind1">Ilustração 17</td>
                        <td class="ind2">Tela de Lista de Contatos</td>
                        <td class="ind3">14</td>
                    </tr>
                    <tr>
                        <td class="ind1">Ilustração 18</td>
                        <td class="ind2">Tela de Detalhe do Contato</td>
                        <td class="ind3">15</td>
                    </tr>
                    <tr>
                        <td class="ind1">Ilustração 19</td>
                        <td class="ind2">Tela de Confirmação</td>
                        <td class="ind3">15</td>
                    </tr>
                    <tr>
                        <td class="ind1">Ilustração 20</td>
                        <td class="ind2">Tela de Criar Usuário</td>
                        <td class="ind3">16</td>
                    </tr>
                    <tr>
                        <td class="ind1">Ilustração 21</td>
                        <td class="ind2">Tela de Lista de Usuários</td>
                        <td class="ind3">17</td>
                    </tr>
                    <tr>
                        <td class="ind1">Ilustração 22</td>
                        <td class="ind2">Tela de Detalhe de do Usuário</td>
                        <td class="ind3">18</td>
                    </tr>
                    <tr>
                        <td class="ind1">Ilustração 23</td>
                        <td class="ind2">Tela de Confirmação</td>
                        <td class="ind3">18</td>
                    </tr>
                </table>
            </section>
            <footer class="hidden-screen">
                <p>
                    <span class="pull-right">III</span>
                </p>
            </footer>
        </article>

        <!--1-->
        <article class="page">
            <header class="hidden-screen">Engenharia de Software– Sistema Esplay</header>
            <section>
                <h1 id="c1">1 Introdução</h1>
                <p>Este documento tem por objetivo servir como um manual de
                    instruções, de forma a dar fundamentos para o usuário operar o
                    sistema Esplay. Além disso, demonstrar as
                    características do sistema, bem como suas telas e funcionalidades.</p>
                <h1 id="c2">2 Sistema Web</h1>
                <p>O objetivo deste produto é ajudar as pessoas gerenciar seu compromissos
                    de maneira prática. Trata-se de um sistema simples e fácil de usar.
                    O sistema conta com a opção de gerenciar usuários, agendar compromissos,
                    criar categorias de compromissos, criar tipos de compromissos,
                    gerenciar contatos e mostrar os logs que acontecem no sistema.</p>
                <h1 id="c3">3 O sistema</h1>
                <p>Esta etapa visa demonstrar as telas do sistema Esplay, com sua descrição e funcionalidade.</p>
                <h2 id="c3-1">3.1 Login</h2>
                <p>O login é realizado através de um formulário com dois
                    campos, sendo respectivamente Email e Senha, como pode
                    ser visto na Ilustração 1.</p>
                <div class="img-thumbnail">
                    <img src="assets/images/telas/teladelogin.PNG" />
                    <p>Ilustração 1: Tela de Login</p>
                </div>
                <h2 id="c3-2">3.2 Logout</h2>
                <p>O logout é realizado selecionando a opção "Sair" no menu principal na parte superior direita,
                    como pode ser visto na Ilustração 2.</p>
                <div class="img-thumbnail">
                    <img src="assets/images/telas/telaDeLogout.PNG" />
                    <p>Ilustração 1: Tela de Logout</p>
                </div>
            </section>
            <footer class="hidden-screen">
                <p>
                    <span class="pull-right">1</span>
                </p>
            </footer>
        </article>
        <!--3-->
        <article class="page">
            <header class="hidden-screen">Engenharia de Software– Sistema Esplay</header>
            <section>
                <h2 id="c3-3">3.3 Exibir Logs</h2>
                <p>Após a autenticação ser realizada existe a opção de logs do sistema no canto direito
                    superior do menu principal. O sistema disponibiliza informações para todos os usuários como
                    poder ser visto na Ilustração 3.</p>
                <div class="img-thumbnail">
                    <img src="assets/images/telas/teladelog.PNG"/>
                    <p>Ilustração 3: Tela de Logs</p>
                </div>
            </section>
            <footer class="hidden-screen">
                <p>
                    <span class="pull-right">3</span>
                </p>
            </footer>
        </article>
        <!--4-->
        <article class="page">
            <header class="hidden-screen">Engenharia de Software– Sistema Esplay</header>
            <section>
                <h2 id="c3-4">3.4 Agendar Compromisso</h2>
                <p>Para agendar um novo compromisso o Usuário deve escolher a opção
                    "Agenda" na tela inicial do sistema e então no botão "Novo Compromisso".
                    O Sistema vai exibir a seguinte tela, para preenchimento das informações sobre o projeto:
                </p>
                <div class="img-thumbnail">
                    <img src="assets/images/telas/telaDeCompromisso.PNG"/>
                    <p>Ilustração 4: Tela de Agendar Compromissos</p>
                </div>

                <p><br>A descrição, observação e o local do compromisso são os únicos campo que não precisam
                    ser preenchidos obrigatoriamente. O campo "Data" deve ser preenchido apenas selecionando
                    a opção através do calendário. Para preenchimento da hora, deve-se selecionar os valores
                    com as flechas para cima e para baixo ou (apenas números). O "status", tem apenas duas
                    opções "Ocupado" ou "Livre" podendo ser alterado posteriormente pelo usuário.
                    O campo "título" deve especificar o nome do compromisso, o campo "contato" é para
                    selecionar quais os participantes do compromisso, o campo "tipo de compromisso"
                    deve selecionar o tipo em que pertence o compromisso, o campo "categoria de compromisso"
                    consta qual categoria o compromisso pertence.</p>

                    <p>Para salvar um projeto, deve-se clicar no botão "Salvar", lembrando que os campos
                    devem estar preenchidos de acordo com as instruções contidas neste guia.</p>

            </section>
            <footer class="hidden-screen">
                <p>
                    <span class="pull-right">4</span>
                </p>
            </footer>
        </article>
        <!--5-->
        <article class="page">
            <header class="hidden-screen">Engenharia de Software– Sistema Esplay</header>
            <section>
                <h2 id="c3-5">3.5 Editar/Excluir Compromisso</h2>
                <p>Para editar um compromisso,
                    o Usuário deve ser o mesmo usuário que criou o compromisso e selecionar
                    o compromisso no menu principal no canto superior direito chamado de "Meus Compromissos":</p>
                <div class="img-thumbnail">
                    <img src="assets/images/telas/telaDeMeusCompromissos.PNG"/>
                    <p>Ilustração 5: Tela de Meus Compromissos</p>
                </div>

                <p><br>
                    Ao selecionar o compromisso, o sistema irá apresentar seus detalhes,
                    podendo o usuário fazer a edição dos campos de acordo com suas necessidades.
                </p>
                <div class="img-thumbnail">
                    <img src="assets/images/telas/telaDetalheCompromisso.PNG"/>
                    <p>Ilustração 6: Tela de Detalhe dos Compromissos</p>
                </div>

                <p><br>A descrição, observação e o local do compromisso são os únicos campo que não precisam
                    ser preenchidos obrigatoriamente. O campo "Data" deve ser preenchido apenas selecionando
                    a opção através do calendário. Para preenchimento da hora, deve-se selecionar os valores
                    com as flechas para cima e para baixo ou (apenas números). O "status", tem apenas duas
                    opções "Ocupado" ou "Livre" podendo ser alterado posteriormente pelo usuário.
                    O campo "título" deve especificar o nome do compromisso, o campo "contato" é para
                    selecionar quais os participantes do compromisso, o campo "tipo de compromisso"
                    deve selecionar o tipo em que pertence o compromisso, o campo "categoria de compromisso"
                    consta qual categoria o compromisso pertence.</p>

                <p>Para salvar um projeto, deve-se clicar no botão "Salvar", lembrando que os campos
                    devem estar preenchidos de acordo com as instruções contidas neste guia.</p>

                <h2>Excluir Compromisso</h2>
                <p>
                    Para excluir o compromisso, o usuário deverá clicar no botão "Excluir".
                    Uma mensagem de confirmação irá aparecer:
                </p>
                <div class="img-thumbnail">
                    <img src="assets/images/telas/confirmacaoRemoverCompromisso.PNG"/>
                    <p>Ilustração 7: Tela de Confirmação</p>
                </div>

                <p>
                    O usuário clica em "Excluir" e o compromisso é excluído do sistema.
                </p>

                <h2 id="c3-6">3.6 Criar Categoria de Compromisso</h2>
                <p>Para criar uma categoria de compromisso, o Usuário
                    deve estar autenticado no sistema.
                    No menu principal deverá escolher a opção "Categoria" e então o botão
                    "Nova Categoria de Compromisso" O sistema irá exibir a tela de cadastro de categoria de compromisso;
                </p>

                <div class="img-thumbnail">
                    <img src="assets/images/telas/telaDeCategoriaDeCompromisso.PNG"/>
                    <p>Ilustração 8: Tela de Cadastro de Categoria de Compromisso</p>
                </div>
                <p><br>Existe apenas o campo "Nome" sendo que ele deve ser preenchido obrigatóriamente;
                    Para salvar a categoria de compromisso, deve-se clicar no botão "Salvar",
                    lembrando que os campos devem estar preenchidos de acordo com as instruções contidas neste guia.</p>
            </section>
            <footer class="hidden-screen">
                <p>
                    <span class="pull-right">5</span>
                </p>
            </footer>
        </article>
        <!--8-->
        <article class="page">
            <header class="hidden-screen">Engenharia de Software– Sistema Esplay</header>
            <section>
                <h2 id="c3-7">3.7 Editar/Excluir Categoria de Compromisso</h2>
                <p>Para editar uma categoria de compromisso, o Usuário deve estar autenticado no sistema
                    e selecionar a opção "Categorias" no menu principal:</p>

                <div class="img-thumbnail">
                    <img src="assets/images/telas/telaListaDeCategoriaDeCompromisso.PNG"/>
                    <p>Ilustração 9: Tela da Lista de Categorias</p>
                </div>

                <p><br>Ao selecionar a categoria de compromisso, o sistema irá apresentar seus detalhes,
                    podendo o usuário fazer a edição dos campos de acordo com suas necessidades.</p>

                <div class="img-thumbnail">
                    <img src="assets/images/telas/detalheCategoriaDeCompromisso.PNG"/>
                    <p>Ilustração 10: Tela de Detalhe da Categoria de Compromisso</p>
                </div>

                <p><br>Existe apenas o campo "Nome" sendo que ele deve ser preenchido obrigatóriamente;
                    Para salvar uma categoria de compromisso, deve-se clicar no botão "Atualizar",
                    lembrando que os campos devem estar preenchidos de acordo com as instruções contidas neste guia.
                </p>

                <h2>Excluir Categoria de Compromisso</h2>

                <p>Para excluir a Categoria de compromisso, o usuário deverá clicar no botão "Excluir".
                    Uma mensagem de confirmação irá aparecer:
                </p>

                <div class="img-thumbnail">
                    <img src="assets/images/telas/confirmacaoRemoverCategoriaDeCompromisso.PNG"/>
                    <p>Ilustração 11: Tela de Confirmação</p>
                </div>

            </section>
            <footer class="hidden-screen">
                <p>
                    <span class="pull-right">8</span>
                </p>
            </footer>
        </article>
        <!--9-->
        <article class="page">
            <header class="hidden-screen">Engenharia de Software– Sistema Esplay</header>
            <section>
                <h2 id="c3-8">3.8 Criar Tipo de Compromisso</h2>
                <p>Para criar um tipo de compromisso, o Usuário deve estar autenticado no sistema.
                    No menu principal deverá escolher a opção "Tipo" e então o botão "Novo Tipo de Compromisso"
                    O sistema irá exibir a tela de cadastro de tipo de compromisso;
                </p>

                <div class="img-thumbnail">
                    <img src="assets/images/telas/telaDeTipoDeCompromisso.PNG"/>
                    <p>Ilustração 12: Tela de Tipo de Compromisso</p>
                </div>

            </section>
            <footer class="hidden-screen">
                <p>
                    <span class="pull-right">9</span>
                </p>
            </footer>
        </article>
        <!--16-->
        <article class="page">
            <header class="hidden-screen">Engenharia de Software– Sistema Esplay</header>
            <section>
                <h2 id="c3-9">3.9 Editar/Excluir Tipo de Compromisso</h2>
                <p>Para editar um tipo de compromisso, o
                    Usuário deve estar autenticado no sistema e selecionar o Tipo no menu principal:
                </p>

                <div class="img-thumbnail">
                    <img src="assets/images/telas/telaListaDeTiposDeCompromisso.PNG"/>
                    <p>Ilustração 13: Tela Lista de Tipos de Compromissos</p>
                </div>

                <p><br>Ao selecionar o tipo de compromisso, o sistema irá apresentar seus detalhes,
                    podendo o usuário fazer a edição dos campos de acordo com suas necessidades.</p>

                <div class="img-thumbnail">
                    <img src="assets/images/telas/telaDetalheTipoDeCompromisso.PNG"/>
                    <p>Ilustração 14: Tela de Detalhe do Tipo de Compromisso</p>
                </div>

                <p><br>Existe apenas o campo "Nome" sendo que ele deve ser preenchido obrigatóriamente;
                    Para salvar um tipo de compromisso, deve-se clicar no botão "Atualizar", lembrando
                    que os campos devem estar preenchidos de acordo com as instruções contidas neste guia.
                </p>

                <h2>Excluir Tipo de Compromisso</h2>

                <div class="img-thumbnail">
                    <img src="assets/images/telas/confirmacaoRemoverTipoDeCompromisso.PNG"/>
                    <p>Ilustração 15: Tela de Confirmação</p>
                </div>

                <p>
                    O usuário clica em "Excluir" e o tipo de compromisso é excluído do sistema.
                    Obs: Só pode excluir tipo de compromisso que não seja padrão do sistema e que não esteja sendo usado em um compromisso.
                </p>

            </section>
            <footer class="hidden-screen">
                <p>
                    <span class="pull-right">16</span>
                </p>
            </footer>
        </article>
        <!--21-->
        <article class="page">
            <header class="hidden-screen">Engenharia de Software– Sistema Esplay</header>
            <section>
                <h2 id="c3-10">3.10 Criar Contato</h2>
                <p>Para criar um contato, o Usuário deve estar autenticado no sistema. No menu principal deverá escolher a opção "Contatos"
                    e então o botão "Novo Contato" O sistema irá exibir a tela de cadastro de contatos;</p>
                <div class="img-thumbnail">
                    <img src="assets/images/telas/telaDeContato.PNG"/>
                    <p>Ilustração 16: Tela de Cadastro de Contato</p>
                </div>

                <p><br>Os campo "Telefone ou Celular" não precisa ser preenchido obrigatóriamente,
                    o campo nome deve ser preenchido e o campo "Email" deve ser um email válido;
                    Para salvar o contato, deve-se clicar no botão "Salvar", lembrando que os
                    campos devem estar preenchidos de acordo com as instruções contidas neste guia.</p>

            </section>
            <footer class="hidden-screen">
                <p>
                    <span class="pull-right">21</span>
                </p>
            </footer>
        </article>
        <!--25-->
        <article class="page">
            <header class="hidden-screen">Engenharia de Software– Sistema Esplay</header>
            <section>

                <h2 id="c3-11">3.11 Editar/Excluir Contato</h2>
                <p>Para editar um contato, o Usuário deve estar autenticado
                    no sistema e selecionar a opção "Contatos" no menu principal:</p>

                <div class="img-thumbnail">
                    <img src="assets/images/telas/telaListaDeContatos.PNG"/>
                    <p>Ilustração 17: Tela Lista de Contatos</p>
                </div>

                <p><br>Ao selecionar o contato, o sistema irá apresentar seus detalhes,
                    podendo o usuário fazer a edição dos campos de acordo com suas necessidades.</p>

                <div class="img-thumbnail">
                    <img src="assets/images/telas/telaDetalheContato.PNG"/>
                    <p>Ilustração 18: Tela de Detalhe do Contato</p>
                </div>

                <p><br>Os campo "Telefone ou Celular" não precisa ser preenchido obrigatóriamente,
                    o campo "Nome" deve ser preenchido e o campo "Email" deve ser um email válido;
                    Para salvar o contato, deve-se clicar no botão "Atualizar",
                    lembrando que os campos devem estar preenchidos de acordo com as instruções contidas neste guia.</p>

                <h2>Excluir Contato</h2>

                <p>
                    Para excluir um contato, o usuário deverá clicar no botão "Excluir". Uma mensagem de confirmação irá aparecer:</p>

                <div class="img-thumbnail">
                    <img src="assets/images/telas/confirmaçãoDeRemoverContato.PNG"/>
                    <p>Ilustração 19: Tela de Confirmação</p>
                </div>

                <p>O usuário clica em "Excluir" e o contato é excluído do sistema.
                    Obs: Só pode excluir um contato se ele não estiver sendo utilizado em um compromisso.</p>

            </section>
            <footer class="hidden-screen">
                <p>
                    <span class="pull-right">25</span>
                </p>
            </footer>
        </article>
        <!--26-->
        <article class="page">
            <header class="hidden-screen">Engenharia de Software– Sistema Esplay</header>
            <section>
                <h2 id="c3-12">3.12 Criar Usuário</h2>
                <p>Para criar um usuário, o Usuário deve estar autenticado no sistema. No menu principal deverá escolher a opção "Usuários"
                    e então o botão "Novo Usuário" O sistema irá exibir a tela de cadastro de usuários:</p>
                <div class="img-thumbnail">
                    <img src="assets/images/telas/telaDeCadastroDeUsuario.PNG"/>
                    <p>Ilustração 20: Tela de Cadastro de Usuário</p>
                </div>

            </section>
            <footer class="hidden-screen">
                <p>
                    <span class="pull-right">26</span>
                </p>
            </footer>
        </article>
        <!--27-->
        <article class="page">
            <header class="hidden-screen">Engenharia de Software– Sistema Esplay</header>
            <section>
                <h2 id="c3-13">3.13 Editar/Excluir Usuário</h2>
                <p>Para editar um contato, o Usuário deve estar autenticado no sistema e selecionar a Contatos no menu principal:</p>
                <div class="img-thumbnail">
                    <img src="assets/images/telas/telaListaDeUsuarios.PNG"/>
                    <p>Ilustração 21: Tela de Lista de Usuário</p>
                </div>
                <p><br>Ao selecionar o contato, o sistema irá apresentar seus detalhes,
                    podendo o usuário fazer a edição dos campos de acordo com suas necessidades.</p>

                <div class="img-thumbnail">
                    <img src="assets/images/telas/telaDetalheUsuario.PNG"/>
                    <p>Ilustração 22: Tela de Detalhe do Usuário</p>
                </div>

                <p><br>Os campo "Telefone ou Celular" não precisa ser preenchido obrigatóriamente,
                    o campo "Nome" deve ser preenchido e o campo "Email" deve ser um email
                    Os campo "Email" deve ser um email válido e o campo senha pode ser diferentes caractéries e no máximo 20;
                    Para salvar o usuário, deve-se clicar no botão "Atualizar",
                    lembrando que os campos devem estar preenchidos de acordo com as instruções contidas neste guia.
                </p>

                <h2>Excluir Usuário</h2>

                <p>Para excluir um contato, o usuário deverá clicar no botão "Excluir". Uma mensagem de confirmação irá aparecer:</p>

                <div class="img-thumbnail">
                    <img src="assets/images/telas/confirmaçãoDeRemoverUsuario.PNG"/>
                    <p>Ilustração 23: Tela de Confirmação</p>
                </div>

                <p>O usuário clica em "Excluir" e o contato excluído do sistema.
                    Obs: Só pode excluir um contato se ele não estiver sendo utilizado em um compromisso.</p>

            </section>
            <footer class="hidden-screen">
                <p>
                    <span class="pull-right">27</span>
                </p>
            </footer>
        </article>
    </div>
</div>
<!-- /.container -->

<!--Jquery-->
<script src="assets/bower_components/jquery/dist/jquery.js"></script>
<!--Bootstrap-->
<script src="assets/bower_components/bootstrap/dist/js/bootstrap.js"></script>

<script src="assets/javascripts/holder.js"></script>
<script src="assets/javascripts/application.js"></script>
</body>
</html>