<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="img/favicon.ico">
    <title>Esplay - Manual</title>
    <!-- Bootstrap CSS -->
    <link href="assets/css/style.css" rel="stylesheet" media="screen" />
    <!--Bootstrap-->
    <link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link href="assets/css/docs.css" rel="stylesheet" media="screen" />
    <link href="assets/css/prints.css" rel="stylesheet" media="print" />
    <!--Awesome Icons-->
    <link rel="stylesheet" href="assets/stylesheets/awesome/css/font-awesome.css"/>

    <link rel="stylesheet" href="assets/stylesheets/menu.css"/>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Esplay - Manual</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#c1" class="hidden-md hidden-lg">1. Introdução</a></li>
                <li><a href="#c2" class="hidden-md hidden-lg">2. Sistema Esplay</a></li>
                <li class="dropdown"><a href="#"
                                        class="dropdown-toggle hidden-md hidden-lg" data-toggle="dropdown">O
                    Sistema<b class="caret"></b>
                </a>
                    <ul class="dropdown-menu">
                        <li><a href="#c3" class="hidden-md hidden-lg">3. O Sistema</a></li>
                        <li><a href="#c3-1" class="hidden-md hidden-lg">3.1. Login</a></li>
                        <li><a href="#c3-2" class="hidden-md hidden-lg">3.2. Como agendar um Compromisso</a></li>
                        <li><a href="#c3-3" class="hidden-md hidden-lg">3.3. Como editar/excluir um Compromisso</a></li>
                        <li><a href="#c3-4" class="hidden-md hidden-lg">3.4. Como criar um tipo de Compromisso</a></li>
                        <li><a href="#c3-5" class="hidden-md hidden-lg">3.5. Como editar/excluir um tipo de Compromisso</a></li>
                        <li><a href="#c3-6" class="hidden-md hidden-lg">3.6. Como criar uma Categoria de Compromisso</a></li>
                        <li><a href="#c3-7" class="hidden-md hidden-lg">3.7. Como editar/excluir uma Categoria de Compromisso</a></li>
                        <li><a href="#c3-8" class="hidden-md hidden-lg">3.8. Como criar um Contato</a></li>
                        <li><a href="#c3-9" class="hidden-md hidden-lg">3.9. Como editar/excluir um Contato</a></li>
                        <li><a href="#c3-10" class="hidden-md hidden-lg">3.10. Como criar um Usuário do Sistema</a></li>
                        <li><a href="#c3-11" class="hidden-md hidden-lg">3.11. Como editar/excluir um Usuário do Sistema</a></li>
                        <li><a href="#c3-12" class="hidden-md hidden-lg">Exibir Log do Sistema</a></li>
                    </ul></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/#/"><span class="fa fa-home fa-lg"></span> Início</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<div class="container">
    <div class="col-md-3">
        <div class="bs-sidebar hidden-print" role="complementary">
            <ul class="nav bs-sidenav visible-md visible-lg">
                <li><a href="#c1">1. Introdução</a></li>
                <li><a href="#c2">2. Sistema Esplay</a></li>
                <li><a href="#c3">3. Detalhamento</a>
                    <ul class="nav">
                        <li><a href="#c3-1">3.1. Login</a></li>
                        <li>
                            <a href="#c3-2">3.2. Compromissos</a>
                            <ul class="nav">
                                <li><a href="#c3-3">3.3. Agendar Compromisso</a></li>
                                <li><a href="#c3-4">3.4. Editar/Excluir um Compromisso</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#c3-5">3.5. Tipo de Compromissos</a>
                            <ul class="nav">
                                <li><a href="#c3-6">3.7. Criar Tipo de Compromisso</a></li>
                                <li><a href="#c3-7">3.8. Editar/Excluir Tipo de Compromisso</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#c3-8">3.8. Categoria de Compromissos</a>
                            <ul class="nav">
                                <li><a href="#c3-9">3.9. Criar Categoria de Compromisso</a></li>
                                <li><a href="#c3-10">3.10. Editar/Excluir Categoria de Compromisso</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#c3-11">3.11. Contatos</a>
                            <ul class="nav">
                                <li><a href="#c3-12">3.12. Criar Contato</a></li>
                                <li><a href="#c3-13">3.13. Editar/Excluir Contato</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#c3-14">3.14. Usuários</a>
                            <ul class="nav">
                                <li><a href="#c3-15">3.15. Criar Usuário</a></li>
                                <li><a href="#c3-16">3.16. Editar/Excluir Usuário</a></li>
                            </ul>
                        </li>
                    </ul></li>
            </ul>
        </div>
    </div>

    <!--bs-sidebar-->
    <div class="col-md-9" role="main">
        <!--1-->
        <article class="page">
            <section>
                <h1 id="c1">1 Introdução</h1>
                <p>Este documento tem por objetivo servir como um manual de
                    instruções, de forma a dar fundamentos para o usuário operar o
                    sistema web Esplay. Além disso, demonstrar as
                    características do sistema, bem como suas telas e funcionalidades.</p>
                <h1 id="c2">2 Sistema Esplay</h1>
                <p>O objetivo deste produto é ajudar as pessoas gerenciar seu compromissos
                    de maneira prática. Trata-se de um sistema simples e fácil de usar.
                    O sistema conta com a opção de gerenciar usuários, agenda compromissos,
                    criar categorias de compromissos, criar tipos de compromissos,
                    gerenciar contatos e mostrar os logs que acontecem no sistema..</p>
                <p>Todo o sistema Esplay tem a intenção de ser facilmente
                    usado através da interface WEB.</p>
                <h1 id="c3">3 O sistema</h1>
                <p>Esta etapa visa demonstrar as telas do sistema Esplay
                    com sua descrição e funcionalidade.</p>
                <h2 id="c3-1">3.1 Login</h2>
                <p>O login é realizado através de um formulário com dois
                    campos, sendo respectivamente Email do Usuário e Senha, como pode
                    ser visto na Ilustração 1.</p>
                <div class="img-thumbnail">
                    <p>Ilustração 1: Tela de Login</p>
                </div>
                <h2 id="c3-2">3.2 Logout</h2>
                <p>O logout é realizado através da opção "Sair" do menu principal no canto superior direito, como pode
                    ser visto na Ilustração 2.</p>
            </section>
        </article>
        <!--3-->
        <article class="page">
            <section>
                <h2 id="c3-3">3.3 Compromisso</h2>
            </section>
        </article>
        <!--4-->
        <article class="page">
            <section>
                <h2 id="c3-4">3.4 Agendar Compromissos</h2>
            </section>
        </article>
        <!--5-->
        <article class="page">
            <section>
                <h2 id="c3-5">3.5 Editar / Excluir um Compromisso</h2>
                <div class="img-thumbnail">
                    <p>Ilustração 6: Tela Trigger Manual</p>
                </div>
            </section>
        </article>
        <!--8-->
        <article class="page">
            <section>
                <h2 id="c3-7">3.7 Criar Tipo de Compromisso</h2>
            </section>
        </article>
        <!--9-->
        <article class="page">
            <section>
                <h2 id="c3-8">3.8 Editar / Excluir Tipo de Compromisso</h2>

                <p>A aba com lista de canais analógicos é mostrada por padrão
                    ao selecionar a opção de configuração de canais, esta pode ser
                    vista na Ilustração 11.</p>
                <div class="img-thumbnail">
                    <p>Ilustração 11: Tela de Canais Analógicos</p>
                </div>
            </section>
        </article>
        <!--16-->
        <article class="page">
            <section>
                <h2 id="c3-9">3.9 Categoria de Compromisso</h2>
                <p>Disponibiliza uma lista de triggers analógicos e digitais,
                    separadas por abas como pode ser vista na Ilustração 21.</p>

            </section>
        </article>
        <!--21-->
        <article class="page">
            <section>
                <h2 id="c3-10">3.10 Cria Categoria de Compromisso</h2>
                <p>A lista de eventos é representada na Ilustração 27,
                    possuindo as seguintes colunas:</p>
            </section>
        </article>
        <!--25-->
        <article class="page">
            <section>
                <h2 id="c3-11">3.11 Editar / Excluir Categoria de Compromisso</h2>

                <p>Na Ilustração 32 é mostrada a tela com dados resumidos de
                    todas as configurações realizadas para a atual UMR selecionada,
                    esta configuração pode não ser a mesma na máquina caso tenha sido
                    alterada em algum momento.</p>

            </section>
        </article>

        <!--33-->
        <article class="page">
            <section>
                <h3 id="c3-12">3.12 Editar Perfil</h3>

                <p>Para editar um perfil clique no botão "Editar" cujo ícone é
                    um lápis na lista de perfis, sendo então aberto o formulário
                    mostrado na Ilustração 40 com os campos preencidos com o perfil
                    selecionado.</p>

                <p>Para salvar as alterações clique no botão "Salvar", no final
                    da pagina.</p>
            </section>
        </article>
    </div>
</div>
<!-- /.container -->

<!--Jquery-->
<script src="assets/bower_components/jquery/dist/jquery.js"></script>

<!--Bootstrap-->
<script src="assets/bower_components/bootstrap/dist/js/bootstrap.js"></script>

<script src="assets/javascripts/holder.js"></script>
<script src="assets/javascripts/application.js"></script>
</body>
</html>
