@(url: String)
<head>
    <meta charset="UTF-8">
    <title>Página Não Encontrada</title>

    <!--Awesome Icons-->
    <link rel="stylesheet" href="assets/stylesheets/awesome/css/font-awesome.css"/>

    <link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.css"/>

    <!--Jquery-->
    <script src="assets/bower_components/jquery/dist/jquery.js"></script>

    <script src="assets/bower_components/bootstrap/dist/js/bootstrap.js"></script>

</head>

<div align="center" class="container-fluid">
    <h3 class="text-muted">Gerenciador de Compromissos</h3>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Erro 404</h1>
                <h2>
                    Esta página não existe -> <b>@url</b></h2>
                <br>
                <div class="error-actions">
                    <a href="/#/" class="btn btn-primary"><span class="fa fa-home"></span>
                        Início </a>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
<!--Rodapé-->
<div align="center">
    <footer class="footer">
        <div class="container">
            <p>&copy; 2015 Gerenciador de Compromissos -
                <b>Powered by Play Framework e AngularJS
                </b>.Todos os direitos reservados.
            </p>
        </div>
    </footer>
</div>