@(sistema : String)(versaoDoPlay : String)
<head>
    <meta charset="UTF-8">
    <title>@sistema</title>

    <!--Jquery-->
    <script src="assets/bower_components/jquery/dist/jquery.js"></script>

    <link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <script src="assets/bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <!--CSS Personalisados-->
    <link rel="stylesheet" href="assets/stylesheets/background.css"/>

</head>
<div class="container-fluid">
    <div class="header">
            <h3 class="text-muted">@sistema</h3>
    </div>
    <div class="jumbotron">
            <p><a class="btn btn-lg btn-success">
                powered by Play Framework @versaoDoPlay</a></p>
    </div>
        <div align="center" class="error-actions">
            <a href="/#/" class="btn btn-default"><span class="glyphicon glyphicon-home"></span>
                Início </a>
        </div>
</div>